In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('final.csv')

In [2]:
df

,name,year,duration,genre,rating,director,type
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Movie
1,The Godfather,1972,175,"Crime,Drama",9.2,Francis Ford Coppola,Movie
2,The Dark Knight,2008,152,"Action,Crime,Drama",9.0,Christopher Nolan,Movie
3,The Godfather: Part II,1974,202,"Crime,Drama",9.0,Francis Ford Coppola,Movie
4,12 Angry Men,1957,96,"Crime,Drama",9.0,Sidney Lumet,Movie
...,...,...,...,...,...,...,...
1245,Garth Marenghi's Darkplace,2004,30,Nan,8.4,"Richard Ayoade,Matt Berry,Matthew Holness",Series
1246,Vikings,2013,44,"Action,Adventure,Drama",8.4,"Katheryn Winnick,Gustaf Skarsgård,Alexander Lu...",Series
1247,Avrupa Yakasi,2004,60,Nan,8.4,"Gülse Birsel,Levent Üzümcü,Senay Gürler",Series
1248,Sseulsseulhago Chalranhashin: Dokkaebi,2016,120,"Comedy,Drama,Fantasy",8.4,"Gong Yoo,Kim Go-eun,Lee Dong-Wook",Series
1249,Normal People,2020,339,"Drama,Romance",8.4,"Daisy Edgar-Jones,Paul Mescal,Desmond Eastwood",Series

## 1. Asking the user to select a movie

In [16]:
movie = input("Enter a movie name : ")
if movie not in list(df['name']):
    print("Movie unavailable in the Dataset !!")

Enter a movie name : The Godfather: Part II

## 2. Finding the directors of the movie the user selected

In [17]:
print("Directors of",movie,'are : ')
print('-'*45)
for i in list(df[df['name']==movie]['director'])[0].split(','):
    print(i)
print('-'*45)

Directors of The Godfather: Part II are :
---------------------------------------------
Francis Ford Coppola
---------------------------------------------

## 3. Recommending top 10 movies based on the directors of the movie the user chose

In [18]:
direc = list(df[df['name']==movie]['director'])[0].split(',')       # Creating a dataframe of the recommendable movies
data = []
for i in direc:
    for j in df.values:
        if i in j[5]:
            data.append([j[0],j[5]])
pdf = pd.DataFrame(data,columns=['name','directors'])

data = []
for i in pdf['name'].unique():                                     # Removing duplicate entries
    for j in pdf.values:
        if i==j[0]:
            data.append(j)
            break
pdf = pd.DataFrame(data,columns = ['name','director'])

match = []                                                        # match column indicates how many directors match with the
for i in pdf.values:                                              # directors of the movie the user chose 
    c = 0
    for j in list(df[df['name']==movie]['director'])[0].split(','):
        if j in i[1]:
            c+=1
    match.append(c)
pdf['match']=match

print('Top Movie Recommendations : ')                             # Printing the top 10 movie recommendations
print('-'*45)
for i in pdf['name']:
    print(i)
print('-'*45)

Top Movie Recommendations :
---------------------------------------------
The Godfather
The Godfather: Part II
Apocalypse Now
The Conversation
The Godfather: Part III
---------------------------------------------

## 4) Recommending movies based on the name of the movie the user selected

In [47]:
s=''
for i in movie.split(' '):
    if ':' in i:
        s=s+' '+i
        break
    elif i.isnumeric():
        continue
    else:
        s=s+' '+i
s = s.strip()
s = s.replace(':','')

data = []
for i in df.values:
    if s in i[0]:
        data.append(i[0])
sdf = pd.DataFrame(data,columns =['name'])

print("Recommended movies based on the Name of the movie selected : ")
print('-'*60)
for i in sdf.values:
    print(i[0])
print('-'*60)

Recommended movies based on the Name of the movie selected :
------------------------------------------------------------
The Godfather
The Godfather: Part II
The Godfather: Part III
------------------------------------------------------------