## Importing the required modules

In [1]:
import pandas as pd
import numpy as np

## Reading the csv files

In [2]:
df1 = pd.read_csv("IPL Ball-By-Ball 2008-2020.csv")
df2 = pd.read_csv("IPL Matches 2008-2020.csv")

### Deliveries

In [3]:
df1.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

### Matches

In [4]:
df2.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

## Information of the datasets

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  int64
 3   ball              193468 non-null  int64
 4   batsman           193468 non-null  object
 5   non_striker       193468 non-null  object
 6   bowler            193468 non-null  object
 7   batsman_runs      193468 non-null  int64
 8   extra_runs        193468 non-null  int64
 9   total_runs        193468 non-null  int64
 10  non_boundary      193468 non-null  int64
 11  is_wicket         193468 non-null  int64
 12  dismissal_kind    9495 non-null    object
 13  player_dismissed  9495 non-null    object
 14  fielder           6784 non-null    object
 15  extras_type       10233 non-null   object
 16  batting_team      193468 non-null  object
 17  bowling_team      193277 non-null  object
dtypes: int64(9), object(9)
memory usage: 26.6+ MB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

## Checking for null values

In [7]:
df1.isna().sum()

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183973
player_dismissed    183973
fielder             186684
extras_type         183235
batting_team             0
bowling_team           191
dtype: int64

In [8]:
df2.isna().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

### Count of matches played in each season

In [9]:
years = []
for i in df2['date']:
    years.append(i.split('-')[0])

data = []

for i in list(set(years)):
    data.append([i,years.count(i)])
    
pdf = pd.DataFrame(data,columns = ['season','No_of_matches'])
print(pdf.sort_values(by = 'season'))

   season  No_of_matches
10   2008             58
3    2009             57
11   2010             60
2    2011             73
6    2012             74
4    2013             76
0    2014             60
9    2015             59
8    2016             60
7    2017             59
1    2018             60
5    2019             60
12   2020             60

### Runs scored in each season

In [10]:
id = set(df1['id'])
dic = {}
for i in id:
    pdf=df1[df1['id']==i]
    dic[i] = pdf['total_runs'].sum()

In [11]:
years = []
for i in df2['date']:
    years.append(i.split('-')[0])
dic_y = {}

for i in set(years):
    l = []
    for j in df2.values:
        if(i in j[2]):
            l.append(j[0])
    dic_y[i]=l

In [12]:
print("The total runs scored in every season : ")
print("-"*40)

years = list(dic_y.keys())
for i in years:
    print(i,':',end =" ")
    sum = 0
    for j in dic_y[i]:
        sum = sum+dic[j]
    print(sum)

The total runs scored in every season :
----------------------------------------
2014 : 18909
2018 : 19901
2011 : 21154
2009 : 16320
2013 : 22541
2019 : 19400
2012 : 22453
2017 : 18769
2016 : 18862
2015 : 18332
2008 : 17937
2010 : 18864
2020 : 19352

### The total runs scored per match in different seasons

In [13]:
#Every match identifid by the 

data = []
matches = list(dic.keys())
for i in matches:
    match = i
    season = df2[df2['id']==i]['date'].iloc[0].split('-')[0]
    total_runs = dic[i]
    data.append([match,season,total_runs])
runs_per_match = pd.DataFrame(data,columns = ['Match','Season','Total_runs'])
runs_per_match

# THEREFORE THE FOLLOWING DATA FRAME GIVES THE REQUIRED DATA (TOTAL RUNS PER MATCH IN EVERY SEASON)

      Match Season  Total_runs
0    598016   2013         310
1    598017   2013         304
2    598018   2013         227
3    598019   2013         271
4    598020   2013         252
..      ...    ...         ...
811  598011   2013         325
812  598012   2013         331
813  598013   2013         312
814  598014   2013         250
815  598015   2013         294

[816 rows x 3 columns]

### The umpire  who has umpired the most

In [14]:
umpires = list(df2['umpire1'])
l2 = list(df2['umpire2'])
umpires.extend(l2)
umpires

data = []
for i in set(umpires):
    data.append([i,umpires.count(i)])

umpires_data = pd.DataFrame(data,columns = ['Umpire','Count'])

print("The Umpire who Umpired the most : ")
print('-'*35)
print(list(umpires_data.sort_values(by = "Count",ascending = False)['Umpire'])[0])

The Umpire who Umpired the most :
-----------------------------------
S Ravi

### The team which won the most tosses

In [15]:
print("The team that won most of the tosses : ")
print('-'*40)
print(list(df2.value_counts(['toss_winner']).index)[0][0])
print('-'*40)

The team that won most of the tosses :
----------------------------------------
Mumbai Indians
----------------------------------------

### What does the team decide after winning the toss

In [16]:
data = []
for i in df2.values:
    data.append([i[8],i[9]])
pdf = pd.DataFrame(data,columns = ['Team','Decision'])
pdf

#The following dataframe show what decision was taken by all teams after winning the toss in different matches

                            Team Decision
0    Royal Challengers Bangalore    field
1            Chennai Super Kings      bat
2               Rajasthan Royals      bat
3                 Mumbai Indians      bat
4                Deccan Chargers      bat
..                           ...      ...
811               Mumbai Indians    field
812               Delhi Capitals    field
813          Sunrisers Hyderabad    field
814               Delhi Capitals      bat
815               Delhi Capitals      bat

[816 rows x 2 columns]

### How does the toss decision vary across the seasons

In [17]:
temp_df = df2[['date','toss_decision']].sort_values(by = 'date',ascending = False)
year = []
for i in temp_df['date']:
    year.append(i.split('-')[0])
temp_df['date'] = year

years = list(set(temp_df['date']))
final_data = []
for i in years:
    final_data.append([i,list(temp_df[temp_df['date']==i]['toss_decision']).count('bat'),
          list(temp_df[temp_df['date']==i]['toss_decision']).count('field')])

tdf = pd.DataFrame(final_data,columns = ['Seasons','Decision_bat','Decision_field'])
print("The Following DataFrame shows the varying toss decision across seasons : ")
print('-'*50)
print(tdf)

The Following DataFrame shows the varying toss decision across seasons :
--------------------------------------------------
   Seasons  Decision_bat  Decision_field
0     2014            19              41
1     2018            10              50
2     2013            45              31
3     2019            10              50
4     2011            25              48
5     2009            35              22
6     2012            37              37
7     2017            11              48
8     2016            11              49
9     2015            25              34
10    2008            26              32
11    2010            39              21
12    2020            27              33

### Checking if winning the toss imply winning the game

In [18]:
temp_df = df2[['toss_winner','winner']]
count = 0
for i in temp_df.values:
    if i[0]==i[1]:
        count+=1
print("The Winning percentage of toss winners : ")
print('-'*40)
print(count/len(temp_df)*100)
print('-'*40)
print("Since the win percentage is nearly half, winning toss doesn't impy winning game!")

The Winning percentage of toss winners :
----------------------------------------
51.225490196078425
----------------------------------------
Since the win percentage is nearly half, winning toss doesn't impy winning game!

### How many times has the chasing team won the match

In [19]:
temp_df = df2[['toss_winner','toss_decision','winner']]
temp_df = temp_df[temp_df['toss_decision']=='field']

count = 0
for i in temp_df.values:
    if i[0]==i[2]:
        count+=1
print('-'*40)
print('The chasing team won the match ',count,' times')
print('-'*40)

----------------------------------------
The chasing team won the match  273  times
----------------------------------------

### Which team has played the most number of matches

In [20]:
teams_played = list(df2['team1']) + list(df2['team2'])
uni_teams = list(set(teams_played))
data = []
for i in uni_teams:
    data.append([i,teams_played.count(i)])
temp_df = pd.DataFrame(data,columns = ['team','play_freq'])

print("The team which played the most number of matches : ")
print('-'*40)
print(list(temp_df.sort_values(by = 'play_freq',ascending = False)['team'])[0])
print('-'*40)

The team which played the most number of matches :
----------------------------------------
Mumbai Indians
----------------------------------------

### Which team won the most number of times

In [21]:
data = []
winners = list(df2['winner'])
for i in uni_teams:
    data.append([i,winners.count(i)])
pdf = pd.DataFrame(data,columns = ['team','win_freq'])

print("The team which won the most number of matches : ")
print('-'*40)
print(list(pdf.sort_values(by = 'win_freq',ascending = False)['team'])[0],':',
      list(pdf.sort_values(by = 'win_freq',ascending = False)['win_freq'])[0],'times')
print('-'*40)

The team which won the most number of matches :
----------------------------------------
Mumbai Indians : 120 times
----------------------------------------

### Which team has the highest win percentage

In [22]:
print("The team with the highest win percentage : ")
print('-'*40)
print(list(pdf.sort_values(by = 'win_freq',ascending = False)['team'])[0],':'
      ,(list(pdf.sort_values(by = 'win_freq',ascending = False)['win_freq'])[0]/len(winners)),'%')
print('-'*40)

The team with the highest win percentage :
----------------------------------------
Mumbai Indians : 0.14705882352941177 %
----------------------------------------

### Which stadium has hosted the most number of matches

In [31]:
print("The team that has hosted the most number of matches : ")
print('-'*30)
print(df2['venue'].value_counts().index[0],':',df2['venue'].value_counts()[0])
print('-'*30)

The team that has hosted the most number of matches :
------------------------------
Eden Gardens : 77
------------------------------