## Importing the required modules

In [1]:
import pandas as pd

## Loading the dataset

In [2]:
df = pd.read_csv("country_wise_latest.csv")
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

## 1) The average cases in every country

In [17]:
print('The average cases per each country : ')
print("-"*30)
for i in df.values:
    print(i[0],' : ',round((i[1]+i[11])/2,0))
print("-"*30)

The average cases per each country :
------------------------------
Afghanistan  :  35894.0
Albania  :  4526.0
Algeria  :  25832.0
Andorra  :  896.0
Angola  :  850.0
Antigua and Barbuda  :  81.0
Argentina  :  149095.0
Armenia  :  36186.0
Australia  :  13866.0
Austria  :  20150.0
Azerbaijan  :  29168.0
Bahamas  :  278.0
Bahrain  :  38209.0
Bangladesh  :  216839.0
Barbados  :  108.0
Belarus  :  66732.0
Belgium  :  65261.0
Belize  :  44.0
Benin  :  1686.0
Bhutan  :  94.0
Bolivia  :  66086.0
Bosnia and Herzegovina  :  9488.0
Botswana  :  630.0
Brazil  :  2280510.0
Brunei  :  141.0
Bulgaria  :  9775.0
Burkina Faso  :  1082.0
Burma  :  346.0
Burundi  :  350.0
Cabo Verde  :  2200.0
Cambodia  :  198.0
Cameroon  :  16634.0
Canada  :  114692.0
Central African Republic  :  4574.0
Chad  :  906.0
Chile  :  340476.0
China  :  86202.0
Colombia  :  230553.0
Comoros  :  344.0
Congo (Brazzaville)  :  3026.0
Congo (Kinshasa)  :  8644.0
Costa Rica  :  13688.0
Cote d'Ivoire  :  14984.0
Croatia  :  4626.0
Cuba  :  2489.0
Cyprus  :  1049.0
Czechia  :  14807.0
Denmark  :  13607.0
Djibouti  :  5040.0
Dominica  :  18.0
Dominican Republic  :  59056.0
Ecuador  :  77890.0
Egypt  :  90442.0
El Salvador  :  13621.0
Equatorial Guinea  :  3071.0
Eritrea  :  258.0
Estonia  :  2028.0
Eswatini  :  2071.0
Ethiopia  :  12377.0
Fiji  :  27.0
Finland  :  7369.0
France  :  217188.0
Gabon  :  6811.0
Gambia  :  219.0
Georgia  :  1088.0
Germany  :  205218.0
Ghana  :  31027.0
Greece  :  4120.0
Greenland  :  14.0
Grenada  :  23.0
Guatemala  :  42174.0
Guinea  :  6822.0
Guinea-Bissau  :  1952.0
Guyana  :  363.0
Haiti  :  7196.0
Holy See  :  12.0
Honduras  :  37176.0
Hungary  :  4394.0
Iceland  :  1846.0
India  :  1317706.0
Indonesia  :  94258.0
Iran  :  284904.0
Iraq  :  103639.0
Ireland  :  25829.0
Israel  :  57994.0
Italy  :  245455.0
Jamaica  :  831.0
Japan  :  28424.0
Jordan  :  1200.0
Kazakhstan  :  79058.0
Kenya  :  15873.0
Kosovo  :  6645.0
Kuwait  :  62071.0
Kyrgyzstan  :  30220.0
Laos  :  20.0
Latvia  :  1206.0
Lebanon  :  3394.0
Lesotho  :  432.0
Liberia  :  1137.0
Libya  :  2404.0
Liechtenstein  :  86.0
Lithuania  :  1983.0
Luxembourg  :  5980.0
Madagascar  :  8422.0
Malawi  :  3328.0
Malaysia  :  8852.0
Maldives  :  3184.0
Mali  :  2494.0
Malta  :  689.0
Mauritania  :  6066.0
Mauritius  :  344.0
Mexico  :  372442.0
Moldova  :  22134.0
Monaco  :  112.0
Mongolia  :  288.0
Montenegro  :  2540.0
Morocco  :  19224.0
Mozambique  :  1604.0
Namibia  :  1594.0
Nepal  :  18298.0
Netherlands  :  52772.0
New Zealand  :  1556.0
Nicaragua  :  3293.0
Niger  :  1118.0
Nigeria  :  39202.0
North Macedonia  :  9731.0
Norway  :  9083.0
Oman  :  72729.0
Pakistan  :  270192.0
Panama  :  57934.0
Papua New Guinea  :  40.0
Paraguay  :  4148.0
Peru  :  373699.0
Philippines  :  75469.0
Poland  :  41892.0
Portugal  :  49535.0
Qatar  :  108317.0
Romania  :  42020.0
Russia  :  796446.0
Rwanda  :  1754.0
Saint Kitts and Nevis  :  17.0
Saint Lucia  :  24.0
Saint Vincent and the Grenadines  :  51.0
San Marino  :  699.0
Sao Tome and Principe  :  806.0
Saudi Arabia  :  261142.0
Senegal  :  9356.0
Serbia  :  22697.0
Seychelles  :  111.0
Sierra Leone  :  1747.0
Singapore  :  49436.0
Slovakia  :  2080.0
Slovenia  :  2020.0
Somalia  :  3163.0
South Africa  :  413078.0
South Korea  :  14010.0
South Sudan  :  2258.0
Spain  :  268628.0
Sri Lanka  :  2768.0
Sudan  :  11208.0
Suriname  :  1281.0
Sweden  :  78722.0
Switzerland  :  34056.0
Syria  :  598.0
Taiwan*  :  456.0
Tajikistan  :  7078.0
Tanzania  :  509.0
Thailand  :  3274.0
Timor-Leste  :  24.0
Togo  :  828.0
Trinidad and Tobago  :  142.0
Tunisia  :  1418.0
Turkey  :  223796.0
US  :  4062468.0
Uganda  :  1098.0
Ukraine  :  63932.0
United Arab Emirates  :  58185.0
United Kingdom  :  299326.0
Uruguay  :  1133.0
Uzbekistan  :  19179.0
Venezuela  :  14161.0
Vietnam  :  408.0
West Bank and Gaza  :  9768.0
Western Sahara  :  10.0
Yemen  :  1655.0
Zambia  :  3939.0
Zimbabwe  :  2208.0
------------------------------

## 2) Total deaths as per the dataset

In [19]:
print('The total number of deaths as per the dataset are : ')
print('-'*40)
print(df['Deaths'].sum())
print('-'*40)

The total number of deaths as per the dataset are :
----------------------------------------
654036
----------------------------------------

## 3) Total number confirmed cases

In [20]:
print('The total number of confirmed cases are : ')
print('-'*40)
print(df['Confirmed'].sum())
print('-'*40)

The total number of confirmed cases are :
----------------------------------------
16480485
----------------------------------------