In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("sales.csv")

In [3]:
df.head(10)

,order_id,product,quantity,price,date,address,month
0,236670,Wired Headphones,2,11.99,08/31/19 22:21,"359 Spruce St, Seattle, WA 98101",August
1,236671,Bose SoundSport Headphones,1,99.99,08/15/19 15:11,"492 Ridge St, Dallas, TX 75001",August
2,236672,iPhone,1,700.0,08/06/19 14:40,"149 7th St, Portland, OR 97035",August
3,236673,AA Batteries (4-pack),2,3.84,08/29/19 20:59,"631 2nd St, Los Angeles, CA 90001",August
4,236674,AA Batteries (4-pack),2,3.84,08/15/19 19:53,"736 14th St, New York City, NY 10001",August
5,236675,Wired Headphones,1,11.99,08/02/19 23:54,"470 Hill St, San Francisco, CA 94016",August
6,236676,34in Ultrawide Monitor,1,379.99,08/04/19 19:52,"470 Cherry St, Los Angeles, CA 90001",August
7,236677,20in Monitor,1,109.99,08/13/19 07:16,"918 6th St, San Francisco, CA 94016",August
8,236678,Wired Headphones,1,11.99,08/25/19 20:11,"58 9th St, San Francisco, CA 94016",August
9,236679,Macbook Pro Laptop,1,1700.0,08/07/19 15:43,"239 Spruce St, Los Angeles, CA 90001",August

## Dealing with Null Values

In [4]:
df.drop(df.index[(df['price']=='Price Each')],axis = 0,inplace = True)

In [5]:
df.isnull().sum()

order_id    0
product     0
quantity    0
price       0
date        0
address     0
month       0
dtype: int64

## Finding the Number of unique orders

In [6]:
l = list(df['order_id'].values)
s = set(l)
print("The number of unique orders : ",len(s))

The number of unique orders :  178437

## Finding the Number of unique products

In [7]:
l = list(df['product'].values)
s = set(l)
print("The number of unique products : ",len(s))

The number of unique products :  19

## Most Expensive product in the Dataset

In [8]:
l = []
for i in df.values:
    l.append([i[1],float(i[3])])
pdf = pd.DataFrame(l,columns=['product','price'])
pdf = pdf.sort_values(by='price',ascending=False)
print('The most expensive product : ')
print('-'*30)
print('Product : ',pdf['product'].values[0])
print("Price : ",pdf['price'].values[0])
print('-'*30)

The most expensive product :
------------------------------
Product :  Macbook Pro Laptop
Price :  1700.0
------------------------------

## Address from which most number of orders took place

In [9]:
dups = df.pivot_table(index = ['address'], aggfunc ='size')
l=dups.index
l1=list(dups)
print("The address with the maximum number of orders : ")
print('-'*60)
print(l[l2.index(dups.max())],' : ',dups.max(),' orders')
print('-'*60)

The address with the maximum number of orders :
------------------------------------------------------------

NameError: name 'l2' is not defined

## Ploting number of orders in each month in a line graph

In [ ]:
dups = df.pivot_table(index = ['month'],aggfunc='size')
l2=[]
months=['January','February','March','April','May','June','July','August','September','October','November','December']
for i in months:
    l2.append(dups[i])
plt.plot(months,l2,marker='.',markersize=10)
plt.xlabel('Months')
plt.ylabel("Number of orders")
plt.show()

In [14]:
data = []
c=0
for i in df['address'].unique():
    data.append([c,len(df[df['address']==i])])
    c+=1

KeyboardInterrupt:

In [13]:
c=[]
for i in range(140787):
    c.append(i)